.footer
    .buttontop
        span.opacity
    .container
        .row
            .col.s6.m3.l3
                | © 2015 - ∞. Vasya, все тлько начинается
                | Все права защищены супер-защитой.
                | +7 (777) 666-55-44
            .col.s6.m3.l3
                ul.footermenu
                    li
                        a(href='javascript:;', role='button') Партнерская программа
                    li
                        a(href='javascript:;', role='button') Договор офоерта
                    li
                        a(href='javascript:;', role='button') Политика конфиденциальности
                    li
                        a(href='javascript:;', role='button') СМИ
            .col.s6.m3.l3
                ul.footermenu
                    li
                        a(href='javascript:;', role='button') ВКонтакте
                    li
                        a(href='javascript:;', role='button') FaceBook
                    li
                        a(href='javascript:;', role='button') Twitter
                    li
                        a(href='javascript:;', role='button') Youtube
            .col.s6.m3.l3
                ul.footermenu
                    li
                        a(href='javascript:;', role='button') Это подвал
                    li
                        a(href='javascript:;', role='button') Личного кабинета