.header
    .container
        .row
            button.mmenu.x.mmenu_open(type='button', aria-label='Toggle Navigation')
                span.lines
            .topmenu.closemenu.scroll-wrapper
                .mclose
                    button.mmenu.x.close(type='button', aria-label='Toggle Navigation')
                        span.lines
                ul
                    li
                        a(href='javascript:;', role='button') Клиенты
                    li
                        a(href='javascript:;', role='button') Сайты и виджеты
                    li
                        a(href='javascript:;', role='button') Сотрудники и отделы
                        ul
                            li
                                a.active(href='javascript:;', role='button') Сотрудники
                            li
                                a(href='javascript:;', role='button') Отделы
                    li
                        a(href='javascript:;', role='button') Сценарии и шаблоны
                        ul
                            li
                                a(href='javascript:;', role='button') Сценарии
                            li
                                a(href='javascript:;', role='button') Шаблоны
                    li
                        a(href='javascript:;', role='button') Статистика и аналитика
                    li
                        a(href='javascript:;', role='button') Администратор
                        ul
                            li
                                a(href='javascript:;', role='button') Настройка профиля
                            li
                                a(href='javascript:;', role='button') Баланс и оплата
                            li
                                a(href='javascript:;', role='button') API
                            li
                                a(href='javascript:;', role='button') Выход
            a.logo(href='javascript:;', role='button')
            .header_menu
                .user
                    .menuoverlay
                        a.menudrop(href='javascript:;', role='button')
                            span.menudrop-arrow
                            span.hfoto
                                img(src='img/admfoto.png', alt='')
                            span.hdescr
                                span.hname Ксюша
                                span.status Администратор
                    ul.menuuser
                        li
                            a(href='javascript:;', role='button') Настройки профиля
                        li
                            a(href='javascript:;', role='button') Баланс и оплата
                        li
                            a(href='javascript:;', role='button') API
                        li
                            a(href='javascript:;', role='button') Выход
                ul
                    li
                        a.ico1(href='javascript:;', role='button')
                            span.notice 1
                            span.dot Уведомления
                    li
                        a.ico2(href='javascript:;', role='button')
                            span.dot Помощь
                    li
                        a.ico3(href='javascript:;', role='button')
                            span.dot 6 789 руб.