.menu
    .container
        .row
            ul
                li
                    a(href='javascript:;', role='button') Клиенты
                li
                    a(href='javascript:;', role='button') Сайты и виджеты
                li
                    a.hasdropmenu(href='javascript:;', role='button') Сотрудники и отделы
                    ul.dropmenu
                        li
                            a.active(href='javascript:;', role='button') Сотрудники
                        li
                            a(href='javascript:;', role='button') Отделы
                li
                    a.hasdropmenu(href='javascript:;', role='button') Сценарии и шаблоны
                    ul.dropmenu
                        li
                            a.active(href='javascript:;', role='button') Сценарии
                        li
                            a(href='javascript:;', role='button') Шаблоны
                li
                    a(href='javascript:;', role='button') Статистика и Аналитика
            a.openmenu(href='javascript:;', role='button')
.secondmenu
    .container
        .row
            #secondmenurow.col.s12