@media screen and (max-width: 720px){

  .modal-select {
    height: 450px !important;
  }
  .time-select_set {
    margin-bottom: 50px !important;
    margin-right: 50px !important;
  }

  .addscene__set{
    width: 240px!important;
  }
  .col_set {

    width: 175px !important;
    margin-right: 20px;
    .dropdown {
      width: 175px !important;
    }
  }
}

