.sidebar {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  color: #6c6c6c;
  height: 100%;
 //height: 100%;
  position: absolute;
  left: 0;
  width: 380px;
  //background:
  cursor: pointer;
  background:  url('../img/close.png') no-repeat 360px 8px , url('../img/push_left.png') no-repeat 359px 50%, #262626;
}
.sidebar__trigger {
  cursor: pointer;
  position: absolute;
  width: 30px;
  height: 100%;
  //background: #000;
  top: 0;
  right: 0;
}
.sidebar__inner{
  overflow-y: scroll;
  overflow-x: hidden;
  cursor: auto;
  background: #ffffff;
  height: 100%;
  width: 350px;
  padding: 29px 0 29px 16px;
  @include box-sizing;
}
.sidebar__title {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 35px;
  &__inner {
    font-size: 14px;
    padding-left: 20px;
   }
  &__link{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    border-bottom: 1px dashed;
    &:hover {
      border-bottom: 1px solid;
    }
  }
}
.slider__checkbox{
  display: none;
}
.slider__label {
  cursor: pointer;
  padding-left: 25px ;
  background: url('../img/checkbox.png') no-repeat left;
}
.slider__checkbox:checked + .slider__label {
  background: url('../img/checkbox_active.png') no-repeat left;
}
.slider__color {
  .color__text{
    margin-bottom: 30px;
  }
  .color__list,.color-item {
    display: inline-block;
  }
  .slider__label {
    height: 35px;
    width: 60px;
  }
}
.color__item, .color__list {
  display: inline-block;
}
.color__item {
  //width: 70px;
  position: relative;
  margin-right: 0;
  &:first-child{
    left:0;
  }
  margin-bottom: 20px;
}
.color__list {
  margin-bottom: 15px;
}
$circls: sprite-map('circls/*.png', $spacing: 70px);
.slider__link_circl1,.slider__link_circl2,.slider__link_circl3,.slider__link_circl4 {
  background-size: 30px 30px;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  top: 15px;
  left: -4px;
}
.slider__link_circl1 {
  background: sprite($circls,circl1) no-repeat;
}
.slider__link_circl2 {
  background: sprite($circls,circl2) no-repeat;
}
.slider__link_circl3 {
  background: sprite($circls,circl3) no-repeat;
}
.slider__link_circl4 {
  background: sprite($circls,circl4) no-repeat;
}
.sidebar__position {
  .position__text {
    margin-bottom: 5px;
  }
  .select2-arrow {
    border: none !important;
    background: url("../img/select_open.png") no-repeat left !important;
  }
  .select2-dropdown-open  .select2-arrow {
    border: none !important;
    background: url("../img/select_close.png") no-repeat left !important;
  }

  .select2-choice {
    height: 37px!important;
    background: none;
    border: none;
    padding-top: 5px;
    &:focus, &:active, &:hover {
      outline: none !important;
    }
  }
  .position__ui {
    margin-bottom: 20px !important;
    width: 249px!important;
    height: 40px!important;
    border: 1px solid #adb6ca!important;
    @include border-radius(7px);
  }
  .select2-container {
    margin-bottom: 20px !important;
    width: 249px!important;
    height: 43px!important;
    border: 1px solid #adb6ca!important;
    @include border-radius(7px);
  }
  .position__sliders {
    margin-bottom: 40px;
    .sliders__text {
      margin-bottom: 5px;
      font-size: 14px;
      font-weight: 400;
      color: #020202;
      padding: 0 10px;
  }
  }
  .ui-slider-handle {
    display: block;
    cursor: pointer;
    border: none !important;
    background: url('../img/check.png') no-repeat center !important;
    top: -3px !important;
    position: relative;
    /*margin-top: 10px;*/
    width: 24px !important;
    height: 24px !important;
    outline: none;
  }

  .ui-slider {
    margin-bottom: 20px;
    cursor: pointer;
    margin-left: 5px;
    border: none !important;
    background: #63768b !important;
    -moz-border-radius: 10px;
    -weblit-border-radius: 10px;
    border-radius: 10px;
    height: 15px;
    width: 225px;
    -webkit-box-shadow: inset 0px 2px 3px #485360;
    -moz-box-shadow: inset 0px 2px 3px #485360;
    box-shadow: inset 0px 2px 3px #485360;
  }
  .ui-slider-range  {
    -webkit-box-shadow: inset 0px 1px 3px #485360;
    -moz-box-shadow: inset 0px 1px 3px #485360;
    box-shadow: inset 0px 1px 3px #485360;
    /*border: none !important;*/
    background: #79c149 !important;
    -moz-border-radius: 10px;
    -weblit-border-radius: 10px;
    border-radius: 10px;
  }
}
.slider__add-pick {
  .add-pick__text {
    margin-bottom: 19px;
  }
  .slider__label {
    padding-left: 28px;
    padding-bottom: 6px;
    display: block;
    margin-bottom: 12px;
  }
  .pick__text_set {
    display: block;
    margin-bottom: 12px;
  }
  .add-pick {
    border: 1px solid #adb6ca;
    width: 196px;
    min-height: 32px;
    @include border-radius(7px);
    background: #4c637b;
    color: #fff;
    border: 1px solid adb6ca;
    text-align: center;
    font-size: 14px ;
    font-width: 400;
    top: -10px;
    position: relative;
    &:active,   &:focus {
      outline: none;
        color: #ffffff;
        background-color: #286090;
        border-color: #122b40;
      }
    &:hover {
      outline: none;
        color: #ffffff;
        background-color: #286090;
        border-color: #204d74;
      }
    }
  }
  .wrapp {
    margin-bottom: 60px;
    padding-top: 5px;
    position: relative;
    width: 100%;
  }
  .add-pick__pick {
    display: block;
    width: 105px;
    height: 105px;
    background: url("../img/avatar.png") no-repeat center;
  }
  .add-pick__text_wr {
    width: 90px;
    display: inline-block;
    position: absolute;
    top: 37%;
    left: 115px;
    font-size: 14px;
    font-weight: 400;
    .pick__text_wr_inner {
      color: red;
      text-decoration: none;;
      cursor: pointer;
      border-bottom: 1px dashed;
      &:hover {
        border-bottom: 1px solid;

      }
    }
  }

.save-next {
  border: 1px solid #adb6ca;
  width: 196px;
  min-height: 32px;
  @include border-radius(7px);
  background: #84b940;
  color: #fff;
  border: 1px solid adb6ca;
  text-align: center;
  font-size: 14px ;
  mso-font-width: 400;
  top: -10px;
  position: relative;
  &:active,  &:hover, &:focus {
    outline: none;
  }
  &:hover {
    background-color: #4eb508;
  }
}
.select2-search {
  display: none !important;
}
.position__option {
  font-family: Open Sans;
  font-size: 14px;
  color: #6c6c6c;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e5e5e5;
  display: block;
  margin-right: 5px;
}

/******* color youself *******/


.sidebar__color-youself{
  display: none;
  margin-bottom:15px ;
  top: -15px;position: relative;

}
.color-youself__list, .color-youself__item {
  display: inline-block;
}
.color-youself__item {
  font-size: 14px;
  font-weight: 400;
  width: 155px;
  height: 60px;
  margin-bottom: 18.5px;

  .color-youself__input {
    padding-left: 5px;
    position: relative;
    top: -10px;
    left: 5px;
    width: 70px;
    height: 35px;
    @include box-sizing;
    border: 1px solid #323232;
    display: inline-block;
    @include border-radius( 5px 0 0 5px );
    @include outline;
  }
  .wrap-input {
    padding-left: 10px;
    @include box-sizing;
  }
  .color-youself__picker{
    &::before {
      content: "#";
      display: block;
      position: absolute;
      top: 8px;
      left: -80px;
      color: #323232;
      font-size: Open Sans;
      font-size: 14px;
      font-weight: 400;
    }
    position: relative;
    top: 3px;
    display: inline-block;
    background: #323232;
    @include border-radius(0 5px 5px 0);
    width: 25px;
    height: 35.5px;
    @include box-sizing;
    border: 1px solid #323232;
  }
  .color-youself__linkabout {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
  }
}
/**********Color piker *************/
.ui-dialog-titlebar,.ui-colorpicker-preview-container, .ui-colorpicker-hsv-container,.ui-colorpicker-rgb-container,.ui-colorpicker-alpha-container,.ui-colorpicker-hex-input,.ui-colorpicker-hex,.ui-dialog-buttonpane   {
  display: none;
}
.ui-colorpicker-map-pointer {
  //width: 50px !important;
}

/****************** Sidebar for Design Button *************/

.sidebar__title_set {
  margin-bottom: 24px;
}
.slider__label_set {
  display: block;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-bottom: 5px;
}
.sidebar__txt-welcome {
  width: 260px;
  height: 44px;
  position: relative;
  left: 27px;
  top: -3px;
  @include border-radius(7px);
  border: 1px solid #adb6ca;
  padding-left: 15px;
  color: #6c6c6c;
  @include outline;
  margin-bottom: 10px;
}
.color-youself__list_set {
  //padding: 28px 0 0 30px;
  //padding-left:30px;
  .color-youself__item{
    width: 120px;
    margin-left: 15px;
    margin-bottom: 20px;
  }
  .color-youself__text {
    font-weight: 400;
    font-size: 14px;
  }
}
.slider__add-pick_set{
  padding-left: 30px;
}
.add-pick__pick_set {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}
.wrapp_set {
  margin-bottom: 25px;
padding-left: 30px;
}
.add-pick_set{
  margin-bottom: 10px;
}
.add-pick__text_wr_set{
  top:10px;
  left: 90px;
}
.color-youself__list_buttom{
  margin-top: -34px;
  margin-left: -17px;
}
.text_set{
  width: 180px;
}
.add-sound{
  margin-top: 5px;
  margin-bottom: 60px;
  border: 1px solid #adb6ca;
  width: 196px;
  min-height: 32px;
  @include border-radius(7px);
  background: #4c637b;
  color: #fff;
  border: 1px solid adb6ca;
  text-align: center;
  font-size: 14px ;
  font-width: 400;
  //top: -10px;
  position: relative;
  &:active,   &:focus {
    outline: none;
    color: #ffffff;
    background-color: #286090;
    border-color: #122b40;
  }
  &:hover {
    outline: none;
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74;
  }
}

.ui-slider-handle {
  display: block;
  cursor: pointer;
  border: none !important;
  background: url('../img/check.png') no-repeat center !important;
  top: -3px !important;
  position: relative;
  /*margin-top: 10px;*/
  width: 24px !important;
  height: 24px !important;
  outline: none;
}

.ui-slider {
  margin-bottom: 20px;
  cursor: pointer;
  margin-left: 5px;
  border: none !important;
  background: #63768b !important;
  -moz-border-radius: 10px;
  -weblit-border-radius: 10px;
  border-radius: 10px;
  height: 15px;
  width: 225px;
  -webkit-box-shadow: inset 0px 2px 3px #485360;
  -moz-box-shadow: inset 0px 2px 3px #485360;
  box-shadow: inset 0px 2px 3px #485360;
}
.ui-slider-range  {
  -webkit-box-shadow: inset 0px 1px 3px #485360;
  -moz-box-shadow: inset 0px 1px 3px #485360;
  box-shadow: inset 0px 1px 3px #485360;
  /*border: none !important;*/
  background: #79c149 !important;
  -moz-border-radius: 10px;
  -weblit-border-radius: 10px;
  border-radius: 10px;
}
.slider__add-sound{
  position: relative;
  margin-top: 5px;
  .play {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    background: url("../img/play.png") no-repeat center;
    top: 0;
    left: 200px;
  }
  .slider__label {
    padding-left: 28px;
    padding-bottom: 6px;
    display: block;
    margin-bottom: 12px;
  }
  .pick__text_set {
    display: block;
    margin-bottom: 15px;
  }

}